/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(192, 187, 187);
}
.conteiner{
    width: 70%;
    margin: auto;
    }

/* Contenitore principale */

.contenitore-header, .hero, .colonna-laterale{
    margin-top: 20px;
}

/* Header */
.contenitore-header{
    width: 150px;
    margin: 20px 0;
}
img{
    width: 100%;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

/* Nav */
li{
    display: inline-block;
    font-size: 15px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: rgb(192, 187, 187);
}

/* Main-section superiore*/
.hero{
    background-image: url("../img/banner.jpg");
    height: 440px;
    border-radius: 10px;
    background-position: center;
    position: relative;
}

.hero-contenuto{
    position: absolute;
    bottom: 0;
    width: 60%;
    padding: 40px 0 50px 40px;
    color: white;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.titolo-hero{
    font-size: 25px;
}

/* Main-section inferiore */
.intestazione{;
    height: 70px;
    margin-top: 20px;
}

h2{
    color: black;  
}

h4{
    padding: 10px 0;
    font-weight: 400;
    color: black;
}
.immagine-main{
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.sinistra{
    background-image: url("../img/img-1.jpg");
}
.centrale{
    background-image: url("../img/banner-2.jpg");
    background-position: center;
}
.destra{
    background-image: url("../img/img-3.jpg");
    background-position: center;
}
.colonna-laterale{
    width: 20%;
    float:left;
}
.colonna-centrale{ 
    float: left;
    width: calc(60% - 30px);
    margin: 20px 15px;
}

/* Footer */
.credits{
    height: 50px;
    text-align: center;
    margin-top: 20px;
    color: black;
}
.credits>span{
    color: red;
}
