/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(192, 187, 187);
}
.conteiner{
    width: 70%;
    margin: auto;
    }



/* Contenitore principale */

.contenitore-header, .giallo, .blue-sfondo, .colonna-laterale{
    margin-top: 20px;
}

/* Header */
.contenitore-header{
    width: 150px;
    margin: 20px 0;
}
img{
    width: 100%;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

/* Nav */
li{
    display: inline-block;
    font-size: 15px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: rgb(192, 187, 187);
}

/* Main-section superiore*/
.giallo{
    background-color: #E1D67A;
    height: 400px;
}

/* Main-section inferiore */
.blue-sfondo{
    background-color: #0186FB;
}

.intestazione{
    background-color: #ABD0E8;
    height: 70px;
}

.colonna-laterale{
    width: 20%;
    height: 400px;
    background-color: #ABD0E8;
    float:left;
}

/* modificare con padding per il margine sopra e sotto */
.colonna-centrale{ 
    float: left;
    width: calc(60% - 30px);
    height: 400px;
    background-color: #ABD0E8;
    margin: 20px 15px;
}
/* Footer */
.viola{
    height: 50px;
    background-color: #8602FC;
    margin: 10px 0;
}